/* welcomeSection */

.welcomeSection {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: url('../img/welcome-section-bg-1920.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  padding-top: 26px;

  /* Прописываю media для Retina и использование формата webp вместо jpg в случае, если webp поддерживается браузером пользователя */
  @media (min-resolution: 2dppx) {
    background-image: url("../img/welcome-section-bg-1920@2x.jpg");
  }
}

.welcomeSection__content {
  display: flex;
  flex-direction: column;
  width: 542px;
  padding-top: 62px;
}

.welcomeSection__h1 {
  display: flex;
  flex-direction: column;
  color: rgba(49, 49, 49, 1);
  font-family: "Merriweather", serif;
  font-size: 60px;
  line-height: 66px;
  font-weight: 400;
  text-transform: uppercase;
}

.welcomeSection__h2 {
  font-size: 18px;
  color: rgba(49, 49, 49, 1);
  height: 70px;
  line-height: 23.4px;
  text-align: center;
  padding-top: 24px;
}

.welcomeSection__h1Center {
  align-self: center;
}

.welcomeSection__h1Right {
  align-self: flex-end;
}

.welcomeSection__buttons {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

/* primaryButton */

.primaryButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 72px;
  font-family: "Golos Text", sans-serif;
  border-radius: 66px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  cursor: pointer;
  padding: 0;
}

.primaryButton_theme_dark {
  background: rgba(31, 31, 31, 1);
  border: none;
  color: white;
}

.primaryButton_theme_light {
  border: 2px solid rgba(31, 31, 31, 1);
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  width: 245.17px;
  height: 36px;
}

.logo__horse {
  float: left;
  width: 21.65px;
  height: 31.18px;
}

.logo__horse:not(:first-child) {
  margin-left: 1.73px;
}

.logo__text {
  text-transform: uppercase;
  color: rgba(89, 86, 83, 1);
  font-size: 16.65px;
  line-height: 17.98px;
  font-weight: 700;
  padding-top: 1px;
  padding-left: 6.35px;
}

/* redLine */

.redLine {
  
}