.primaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 72px;
    font-family: "Golos Text", sans-serif;
    border-radius: 66px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    cursor: pointer;
    transition: 0.25s;
    padding: 0;
  }
  
  .primaryButton_theme_dark {
    background: rgba(31, 31, 31, 1);
    border: none;
    color: white;

    &:hover {
      color: rgba(31, 31, 31, 1);
      background: rgba(251, 206, 81, 1);
    }
  }
  
  .primaryButton_theme_light {
    border: 2px solid rgba(31, 31, 31, 1);

    &:hover {
      color: rgba(255, 255, 255, 1);
      background: rgba(31, 31, 31, 1);
    }
  }