.primaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 72px;
    font-family: "Golos Text", sans-serif;
    border-radius: 66px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    cursor: pointer;
    padding: 0;
  }
  
  .primaryButton_theme_dark {
    background: rgba(31, 31, 31, 1);
    border: none;
    color: white;
  }
  
  .primaryButton_theme_light {
    border: 2px solid rgba(31, 31, 31, 1);
  }